@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&family=Quicksand:wght@500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


body{
    background: blue;
}
.start_btn,
.info_box,
.quiz_box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/*start quiz button stylinng*/
.start_btn button{
    font-size: 25px;
    font-weight: 500;
    color: rgb(75, 43, 238);
    padding: 15px 30px;
    outline: none;
    border: none;
    border-radius: 5px;
    background: #fff;
    cursor: pointer;
}
.info_box{
    display: none;
    width:540px;
    background: #fff;
    border-radius: 5px;
}
.info_box .info_title{
    height: 60px;
    width: 100%;
    border-bottom: 1px solid lightgrey;
    display: flex;
    align-items: center;
    padding: 0 35px;
    font-size: 20px;
    font-weight: 600;
}

.info_box .info_list{
    padding: 15px 35px;
}
.info_box .info_list .info{
    margin: 5px 0;
    font-size: 17px;
}
.info_box .info_list .info span{
    font-weight: 600;
    color: #007bff;
}
.info_box .buttons{
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 35px;
    border-top: 1px solid lightgrey ;
}

.info_box .buttons button{
    margin: 0 5px;
    height: 40px;
    width: 100px;
    border: 1px solid transparent;
    border-radius: 5px;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s ease;
}
.buttons button.restart{
    color: #fff;
    background: #007bff;
}
.buttons button.restart:hover{
    background: #0263ca;
}

.buttons button.quit{
    color: #007bff;
    
}
.buttons button.quit:hover{
    background: #0263ca;
}

.quiz_box{
    width: 550px;
    background: #fff;
    border-radius: 5px;
}
.quiz_box header{
    height: 70px;
    padding: 0 30px;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px 5px 0 0;
    box-shadow: 0px 3px 5px 1px rgba(0,0,0,0.1);
}
.quiz_box header .title{
    font-size: 20px;
    font-weight: 600;
}
.quiz_box header .timer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 145px;
    height: 45px;
    background: #cce5ff;
    border: 1px solid #b8daff;
    border-radius: 5px;
    padding: 0 8px;
}